{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col text-center">Январь</div>
        <div class="col text-center">Февраль</div>
        <div class="col text-center">Март</div>
        <div class="col text-center">Апрель</div>
        <div class="col text-center">Май</div>
        <div class="col text-center">Июнь</div>
        <div class="col text-center">Июль</div>
        <div class="col text-center">Август</div>
        <div class="col text-center">Сентябрь</div>
        <div class="col text-center">Октябрь</div>
        <div class="col text-center">Ноябрь</div>
        <div class="col text-center">Декабрь</div>
    </div>

    <table class="table table-bordered">
        {% for weekDay in 1..7 %}
            <tr>
                {% for date in dates %}
                    {% if date|date('N') == weekDay %}
                        <td class="{{ date in discountDates ? 'discount-cell bg-warning' : 'empty-cell' }}" title="{{ date|date('d.m.Y') }}">

                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}