{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-4">
            <div class="feedback-form mt-4">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}