img.logo {
    width: 50px;
    padding-left: 10px;
}

.select-city,
.select-city:hover,
.select-city:active
{
    color: #000;
}

.select-city-item a {
    display: block;
}

.select-city-item a,
.select-city-item a:hover,
.select-city-item a:active
{
    color: #000;
}

.select-city-item:hover {
    background: #0d6efd;
}

.select-city-item:hover a {
    color: #fff;
}

.discount-wrapper {
    margin: 15px auto;
}

.discount-wrapper .card {
    position: relative;
}

.discount-wrapper .card .favorite {
    position: absolute;
    top: 10px;
    right: 10px;
}

.discount-wrapper .card .favorite:hover {
    cursor: pointer;
}

.discount-history-wrapper ul {
    margin: 0;
    padding: 0;
}

.discount-cell:hover {
    cursor: pointer;
}

.product-block .product-card {
    position: relative;
}

.remove-from-favorites {
    position: absolute;
    top: 0;
    right: -5px;
}

.remove-from-favorites:hover {
    cursor: pointer;
}

.product-block .product-card .price-normal {
    text-decoration: line-through;
}

.product-block .product-card .date-range {
    font-size: 12px;
}

.history-months {
    padding-top: 5px;
    font-size: 14px;
}

.product-page {
    display: block;
}

.active-page {
    color: #fff;
}