img.logo {
    width: 50px;
    padding-left: 10px;
}

.select-city,
.select-city:hover,
.select-city:active
{
    color: #000;
}

.select-city-item a {
    display: block;
}

.select-city-item a,
.select-city-item a:hover,
.select-city-item a:active
{
    color: #000;
}

.select-city-item:hover {
    background: #0d6efd;
}

.select-city-item:hover a {
    color: #fff;
}

.discount-wrapper {
    margin: 15px auto;
}

.discount-wrapper .card {
    position: relative;
}

.discount-history-wrapper ul {
    margin: 0;
    padding: 0;
}

.discount-history-wrapper .history-year {
    list-style-type: none;
    display: inline;
    padding: 0 3px;
}

.discount-cell:hover {
    cursor: pointer;
}

.product-block .product-card {
    position: relative;
}

.product-block .product-card .price-normal {
    text-decoration: line-through;
}

.product-block .product-card .date-range {
    font-size: 12px;
}

.history-months {
    padding-top: 5px;
    font-size: 14px;
}

.product-page {
    display: block;
}

.active-page {
    color: #fff;
}